 body {
            font-family: Arial, sans-serif;
            padding: 30px;
            background-color:rgb(136, 120, 180);
        }

        .table-wrapper {
            width: 80%;
            margin: 0 auto;
            background-color: white;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            padding: 20px;
            box-sizing: border-box;
            border-radius: 10px;
        }

        .table-header {
            position: relative;
            text-align: center;
            margin-bottom: 20px;
        }

        .table-header h1 {
            margin: 0;
            font-size: 24px;
        }

        .btn-tambah {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            text-decoration: none;
            color: white;
            background-color: #28a745;
            padding: 8px 15px;
            border-radius: 5px;
            font-weight: bold;
        }

        .btn-tambah:hover {
            background-color: #218838;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 12px 20px;
            border: 1px solid #ccc;
            text-align: left;
        }

        th {
            background-color: #f0f0f0;
        }